
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var article in ViewBag.Articles)
{
    <h4>@article.name</h4>
    <h5>Category: @article.category (@Html.ActionLink("Go to category", "ShowCategory", "Article", new { category = article.category }, null))</h5>
    <p>@Html.Raw(article.content)</p>
    <br />
    <br />
    @Html.ActionLink("Edit", "Edit", "Article", new { id = article.Id }, null)
    <br />
    if (this.User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Delete", "Delete", "Article", new { id = article.Id }, null)
    }
    <hr />
    <br />
}
/**/